In [ ]:
#Importando bibliotecas necessárias
import pandas as pd

# Pré-processamento do arquivo de input

In [ ]:
# Arquivo disponibilizado para o teste 3, .xlsm ao invés de .csv.
# A base de dados disponibilizada está bem suja, não contém somente os campos indicados/esperados, temos células mescladas, entre outras coisas que precisam ser tratadas antes de aplicar qualquer modelo.

#Carrega o arquivo em um objeto xl
caminho_xlsm = "../../data/Planilha em First_Desafio_ciencia_de_dados_SR (1) 1 (1).xlsm"
xl = pd.ExcelFile(caminho_xlsm)

#Confirma a quantidade e nomes das abas da planilha
df_sheets = xl.sheet_names
df_sheets

#Carrega os dados dessa planilha única em um dataframe
df = xl.parse()

In [ ]:
# Vamos entender/visualizar a estrutura da base de dados
# Vemos que as informações que precisamos para o case estão colapsadas na primeira coluna, mas existem muitas outras disponíveis e que não estão vazias então precisamos subdividir nosso dataframe.
df.info()

In [ ]:
# Visualizar todas as colunas disponíveis na base de dados, confirmando que as informações que precisamos estão agregadas na primeira coluna apenas e precisamos splitar para acessar individualmente cada coluna.
df.columns

In [ ]:
#Como temos muitas colunas não nomeadas e com informações não nulas nelas, dei uma olhada na variedade de informações que estão lá, mas usar essas informações neste momento é ruim, pois não temos certeza do que de fato representam. Por isso optei por apenas filtrar a coluna de dados que precisamos para responder o case - teste 3 e ainda assim, vamos precisar tratar os dados.
df['Unnamed: 1'].value_counts()

In [ ]:
#Pega apenas a primeira columna, onde está o que precisamos.
serie = df['name,description,employees,total_funding,city,subcountry,lat,lng']
serie

In [ ]:
# Usar str.split() para dividir os dados da série
dados_divididos = serie.str.split('"')
dados_divididos

In [ ]:
#Identificando e isolando as informação
name = dados_divididos[0][0]
description = dados_divididos[0][1]
tail = dados_divididos[0][2].split(",")[1:]
employees = tail[0]
total_funding = tail[1]
city = tail[2]
subcountry = tail[3]
lat = tail[4]
lng = tail[5]

In [ ]:
dados = {'name': name, 'description': description, 'employees': employees,
         'total_funding':total_funding,'city':city,'subcountry':subcountry,'lat':lat,'lng':lng}

tipos_de_dados = {
    'name' : 'str',
    'description' : 'str',
    'employees' : 'int',
    'total_funding' : 'float',
    'city' : 'str',
    'subcountry' : 'str',
    'lat': 'float',
    'long': 'float'
}

In [ ]:
dados

In [ ]:
tipos_de_dados

In [261]:
# Criar DataFrame com tipos de dados definidos
#Estou encerrando por aqui, por falta de tempo. 
df = pd.DataFrame.from_dict(dados, orient='index').T
df

,name,description,employees,total_funding,city,subcountry,lat,lng
0,"fitin,",fitin is the latest fit tech platform that pro...,1.0,nan,toronto,ontario,43.700109999999995,-79.4163

In [262]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1 non-null      object
 1   description    1 non-null      object
 2   employees      1 non-null      object
 3   total_funding  1 non-null      object
 4   city           1 non-null      object
 5   subcountry     1 non-null      object
 6   lat            1 non-null      object
 7   lng            1 non-null      object
dtypes: object(8)
memory usage: 192.0+ bytes

# O próximo passo seria arrumar os dtypes, verificar valores nulo e um pouco mais de exploração dos dados e por fim o desenho de machine learning.

In [ ]:
# Contagem de valores nulos por coluna
nulos_por_coluna = df.isnull().sum()
print(nulos_por_coluna)

In [ ]:
#Tratamento de Valores Nulos: